body {
    background-color: #101010;
    color: #F7F7F7;

    header {
        height: 90px;
        display: flex;
        flex-direction: row;

        .logo {

        }

        .nav {
            a {
                color: #F7F7F7;
            }
        }
    }
}