#wesh .morray {
  display: none;
}

/* GENERAL */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 1000ms;
}

.container {
  max-width: 1400px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  background-color: #000;
  padding: 0;
  margin: 0;
}

.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader img {
  max-height: 250px;
}

/* END GENERAL */
.App {
  background-color: #000;
  color: #F7F7F7;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.App header {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.App header .container {
  display: flex;
  justify-content: space-between;
}
.App header .container .logo img {
  height: 50px;
  width: auto;
  justify-content: flex-start;
}
.App header .container .logo #burger {
  display: none;
}
.App header .container .nav {
  width: 66%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.App header .container .nav a {
  vertical-align: bottom;
  font-size: 18px;
  border-bottom: 1px solid transparent;
  color: #F7F7F7;
  text-decoration: none;
  cursor: pointer;
}
.App header .container .nav a:hover {
  border-bottom: 1px solid #F7F7F7;
}
.App .hero {
  padding: 25vh 0;
  display: flex;
  justify-content: center;
}
.App .hero .video-container {
  position: absolute;
  top: 150px;
  max-height: 650px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App .hero .video-container video {
  width: 100%;
  height: auto;
  filter: blur(10px);
}
.App .hero .container {
  z-index: 9;
}
.App .hero .container .description {
  font-size: 64px;
  font-weight: 300;
  margin: 0;
}
.App .hero .container .description p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 200;
}
.App .hero .container .description strong {
  font-weight: 500;
}
.App .hero .container .description em {
  font-weight: 400;
}
.App .manifesto {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}
.App .manifesto .container .title {
  font-size: 72px;
  margin-bottom: 90px;
  font-weight: 500;
}
.App .manifesto .container .description p {
  font-size: 32px;
  margin: 0;
  font-weight: 200;
}
.App .manifesto .container .description strong {
  font-weight: 500;
}
.App .manifesto .container .description em {
  font-weight: 400;
}
.App .manifesto .container .signature {
  font-family: "Painted Brush";
  font-size: 72px;
  margin-bottom: 0;
}
.App #banner {
  padding: 30px 0;
  margin-bottom: 50px;
  height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.App #banner img {
  width: 100%;
  max-width: 1000px;
  height: auto;
}
.App .services {
  display: flex;
  justify-content: center;
}
.App .services > .container > .title {
  font-size: 72px;
  margin-bottom: 90px;
  width: 100%;
  font-weight: 500;
}
.App .services > .container > .description {
  font-size: 32px;
  margin-bottom: 70px;
  font-weight: 200;
}
.App .services > .container > .description p {
  margin: 0;
  font-weight: 200;
}
.App .services > .container > .description strong {
  font-weight: 500;
}
.App .services > .container > .description em {
  font-weight: 400;
}
.App .services .skills {
  padding: 30px 0;
  width: 100%;
}
.App .services .skills .skill {
  display: flex;
  margin-bottom: 60px;
}
.App .services .skills .skill .icon-container {
  width: 20%;
}
.App .services .skills .skill .icon-container img.icon {
  max-height: 140px;
  width: auto;
}
.App .services .skills .skill .txt-container {
  width: 80%;
  padding-left: 30px;
}
.App .services .skills .skill .txt-container h3 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 34px;
  font-weight: 500;
}
.App .services .skills .skill .txt-container .description {
  padding-left: 0;
}
.App .services .skills .skill .txt-container .description li {
  list-style: none;
  font-size: 18px;
  font-weight: 200;
}
.App .services .skills .skill .txt-container .description p {
  font-size: 18px;
  margin: 0;
  font-weight: 200;
}
.App .services .skills .skill .txt-container .description strong {
  font-weight: 500;
}
.App .services .skills .skill .txt-container .description em {
  font-weight: 400;
}
.App #realisations {
  padding: 90px 0 180px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App #realisations .container .title {
  font-size: 72px;
  margin-bottom: 90px;
  width: 100%;
  font-weight: 500;
}
.App #realisations .container .items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.App #realisations .container .items .item {
  max-height: 450px;
  max-width: 250px;
}
.App #realisations .container .items .item img {
  height: auto;
  width: 100%;
}
.App .playlist {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.App .playlist .container {
  display: flex;
  flex-direction: row;
}
.App .playlist .container div.txt {
  width: 66%;
}
.App .playlist .container div.txt .title {
  font-size: 72px;
  margin-bottom: 90px;
  margin-top: 0;
  width: 100%;
  font-weight: 500;
}
.App .playlist .container div.txt .description {
  font-size: 26px;
  width: 80%;
  font-weight: 200;
}
.App .playlist .container div.txt .description li {
  list-style: none;
  font-size: 20px;
  font-weight: 200;
}
.App .playlist .container div.txt .description p {
  font-size: 20px;
  margin: 0;
  font-weight: 200;
}
.App .playlist .container div.txt .description strong {
  font-weight: 500;
}
.App .playlist .container div.txt .description em {
  font-weight: 400;
}
.App .playlist .container div.lecteur {
  width: 34%;
}
.App .contact {
  padding-top: 90px;
  padding-bottom: 30px;
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.App .contact .container {
  display: flex;
  flex-direction: column;
}
.App .contact .container .title {
  font-size: 72px;
  margin-bottom: 90px;
  width: 100%;
  height: 72px;
  font-weight: 500;
}
.App .contact .container > div {
  display: flex;
  flex-direction: row;
}
.App .contact .container > div .contact-form {
  width: 50%;
}
.App .contact .container > div .contact-form form {
  width: 80%;
}
.App .contact .container > div .contact-form form .inputs {
  width: 100%;
  margin-bottom: 15px;
}
.App .contact .container > div .contact-form form input, .App .contact .container > div .contact-form form textarea {
  background-color: transparent;
  border: 2px solid #F7F7F7;
  border-radius: 5px;
  padding: 5px 10px;
  color: #F7F7F7;
  font-family: "Poppins", sans-serif;
}
.App .contact .container > div .contact-form form input:focus, .App .contact .container > div .contact-form form textarea:focus {
  outline: none;
}
.App .contact .container > div .contact-form form .sujet {
  width: 100%;
  margin-bottom: 15px;
}
.App .contact .container > div .contact-form form .sujet input {
  width: 100%;
}
.App .contact .container > div .contact-form form .sujet > div {
  width: 100%;
}
.App .contact .container > div .contact-form form > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.App .contact .container > div .contact-form form > div.textarea {
  flex-direction: column;
  margin-bottom: 15px;
}
.App .contact .container > div .contact-form form > div > div {
  width: calc(50% - 5px);
  display: flex;
  flex-direction: column;
}
.App .contact .container > div .contact-form form button {
  width: 100%;
  padding: 8px;
  text-transform: uppercase;
  font-weight: 600;
  color: #F7F7F7;
  background-color: #101010;
  border: 2px solid #F7F7F7;
  border-radius: 5px;
  letter-spacing: 1px;
}
.App .contact .container > div .contact-form form button:hover {
  cursor: pointer;
  background-color: #F7F7F7;
  color: #101010;
}
.App .contact .container > div .informations {
  width: 50%;
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 200;
}
.App .contact .container > div .informations p {
  margin: 0;
}
.App .contact .container > div .informations div {
  display: flex;
  flex-direction: column;
}
.App .contact .container > div .informations div .name_logo {
  font-size: 28px;
  line-height: 28px;
  font-weight: 500;
}
.App .contact .container > div .informations div .at {
  font-style: italic;
  margin-top: 15px;
}
.App .contact .container > div .informations div .address {
  font-size: 18px;
  font-weight: 300;
}
.App .contact .container > div .informations div .telephone {
  font-size: 18px;
}
.App .contact .container > div .informations div .telephone_2 {
  font-size: 18px;
}
.App .contact .container > div .informations div .email {
  margin-top: 18px;
  font-size: 18px;
  text-decoration: underline;
}

.confidentialite, .mentions-legales, .rgpd {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 90px 0;
}
.confidentialite .title, .mentions-legales .title, .rgpd .title {
  font-size: 72px;
  margin-bottom: 90px;
  width: 100%;
  font-weight: 500;
}
.confidentialite .content, .mentions-legales .content, .rgpd .content {
  font-size: 18px;
}
.confidentialite .content a, .mentions-legales .content a, .rgpd .content a {
  color: #FFF;
}

footer.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer.footer > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer.footer > .container .logo {
  width: 10%;
  overflow: hidden;
}
footer.footer > .container .logo img {
  height: auto;
  width: 100%;
}
footer.footer > .container .legal {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
footer.footer > .container .legal a {
  color: #FFF;
  text-decoration: none;
}
footer.footer > .container .legal a:hover {
  text-decoration: underline;
}
footer.footer > .container .social-links {
  width: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
footer.footer > .container .social-links a img {
  max-height: 35px;
}

@media screen and (max-width: 425px) {
  .App {
    padding-left: 15px;
    padding-right: 15px;
  }
  .App header {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
  .App header .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .App header .container .logo {
    width: 100%;
    padding-bottom: 30px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .App header .container .logo img {
    height: 50px;
    width: auto;
    justify-content: flex-start;
  }
  .App header .container .logo #burger {
    display: block;
    width: 30px;
    height: 25px;
    position: relative;
    margin-top: 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    background-color: transparent;
    border: 0px;
  }
  .App header .container .logo #burger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #f7f7f7;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  .App header .container .logo #burger span:nth-child(1) {
    top: 0px;
  }
  .App header .container .logo #burger span:nth-child(2), .App header .container .logo #burger span:nth-child(3) {
    top: 9px;
  }
  .App header .container .logo #burger span:nth-child(4) {
    top: 18px;
  }
  .App header .container .logo #burger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .App header .container .logo #burger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .App header .container .logo #burger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .App header .container .logo #burger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .App header .container .nav {
    width: 100vw;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    opacity: 0;
    transition: 250ms ease-in-out;
    background-color: #000;
    z-index: 999;
    position: absolute;
    top: 120px;
    left: 0;
    padding: 15px;
  }
  .App header .container .nav.open {
    transform: translateY(0px);
    opacity: 1;
  }
  .App header .container .nav a {
    font-size: 22px;
    border-bottom: 0px solid transparent;
    color: #F7F7F7;
    text-decoration: none;
    margin-bottom: 15px;
  }
  .App header .container .nav a:hover {
    border-bottom: 0px solid #F7F7F7;
  }
  .App .hero {
    padding: 0;
    height: 50vh;
  }
  .App .hero .video-container {
    height: 450px;
    max-height: 450px;
    overflow-x: hidden;
  }
  .App .hero .video-container video {
    height: 450px;
    width: auto;
  }
  .App .hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .App .hero .container .description {
    font-size: 32px;
  }
  .App .manifesto {
    padding: 30px 0;
    height: inherit;
    display: flex;
    justify-content: center;
  }
  .App .manifesto .container .title {
    font-size: 38px;
    margin-bottom: 50px;
  }
  .App .manifesto .container .description p {
    font-size: 16px;
  }
  .App .manifesto .container .signature {
    font-family: "Painted Brush";
    font-size: 42px;
  }
  .App #banner {
    height: inherit;
  }
  .App .services > .container > .title {
    font-size: 38px;
    margin-bottom: 50px;
  }
  .App .services > .container > .description {
    font-size: 16px;
  }
  .App .services .skills {
    padding: 30px 0;
    width: 100%;
  }
  .App .services .skills .skill {
    display: flex;
    margin-bottom: 60px;
  }
  .App .services .skills .skill .icon-container {
    width: 10%;
  }
  .App .services .skills .skill .icon-container img.icon {
    max-height: 50px;
    width: auto;
  }
  .App .services .skills .skill .txt-container {
    width: 90%;
    padding-left: 30px;
  }
  .App .services .skills .skill .txt-container h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 500;
  }
  .App .services .skills .skill .txt-container .description {
    padding-left: 0;
  }
  .App .services .skills .skill .txt-container .description li {
    list-style: none;
    font-size: 14px;
    font-weight: 200;
  }
  .App .services .skills .skill .txt-container .description p {
    font-size: 14px;
    margin: 0;
    font-weight: 200;
  }
  .App .services .skills .skill .txt-container .description strong {
    font-weight: 500;
  }
  .App .services .skills .skill .txt-container .description em {
    font-weight: 400;
  }
  .App #realisations .container .title {
    font-size: 38px;
    font-weight: 500;
  }
  .App #realisations .container .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .App #realisations .container .items .item {
    max-height: 450px;
    max-width: 250px;
    margin-bottom: 30px;
  }
  .App #realisations .container .items .item img {
    height: auto;
    width: 100%;
  }
  .App .playlist {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    height: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .App .playlist .container {
    display: flex;
    flex-direction: column;
  }
  .App .playlist .container div.txt {
    width: 100%;
  }
  .App .playlist .container div.txt .title {
    font-size: 38px;
    margin-bottom: 50px;
    margin-top: 0;
    width: 100%;
    font-weight: 500;
  }
  .App .playlist .container div.txt .description {
    font-size: 22px;
    width: 100%;
    font-weight: 200;
  }
  .App .playlist .container div.txt .description li {
    list-style: none;
    font-size: 16px;
    font-weight: 200;
  }
  .App .playlist .container div.txt .description p {
    font-size: 16px;
    margin: 0;
    font-weight: 200;
  }
  .App .playlist .container div.txt .description strong {
    font-weight: 500;
  }
  .App .playlist .container div.txt .description em {
    font-weight: 400;
  }
  .App .playlist .container div.lecteur {
    margin-top: 50px;
    width: 100%;
  }
  .App .contact {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .App .contact .container {
    display: flex;
    flex-direction: column;
  }
  .App .contact .container .title {
    font-size: 36px;
    margin-bottom: 50px;
    width: 100%;
    height: 72px;
    font-weight: 500;
  }
  .App .contact .container > div {
    display: flex;
    flex-direction: column;
  }
  .App .contact .container > div .contact-form {
    width: 100%;
  }
  .App .contact .container > div .contact-form form {
    width: 100%;
  }
  .App .contact .container > div .contact-form form .inputs {
    width: 100%;
    margin-bottom: 15px;
  }
  .App .contact .container > div .contact-form form input, .App .contact .container > div .contact-form form textarea {
    background-color: transparent;
    border: 2px solid #F7F7F7;
    border-radius: 5px;
    padding: 5px 10px;
    color: #F7F7F7;
    font-family: "Poppins", sans-serif;
  }
  .App .contact .container > div .contact-form form input:focus, .App .contact .container > div .contact-form form textarea:focus {
    outline: none;
  }
  .App .contact .container > div .contact-form form .sujet {
    width: 100%;
    margin-bottom: 15px;
  }
  .App .contact .container > div .contact-form form .sujet input {
    width: 100%;
  }
  .App .contact .container > div .contact-form form > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .App .contact .container > div .contact-form form > div.textarea {
    flex-direction: column;
    margin-bottom: 15px;
  }
  .App .contact .container > div .contact-form form > div > div {
    width: calc(50% - 5px);
    display: flex;
    flex-direction: column;
  }
  .App .contact .container > div .contact-form form button {
    width: 100%;
    padding: 8px;
    text-transform: uppercase;
    font-weight: 600;
    color: #F7F7F7;
    background-color: #101010;
    border: 2px solid #F7F7F7;
    border-radius: 5px;
    letter-spacing: 1px;
  }
  .App .contact .container > div .contact-form form button:hover {
    cursor: pointer;
    background-color: #F7F7F7;
    color: #101010;
  }
  .App .contact .container > div .informations {
    margin-top: 50px;
    width: 100%;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 200;
  }
  .App .contact .container > div .informations p {
    margin: 0;
  }
  .App .contact .container > div .informations div {
    display: flex;
    flex-direction: column;
  }
  .App .contact .container > div .informations div:last-of-type {
    margin-top: 50px;
  }
  .App .contact .container > div .informations div .name_logo {
    font-size: 28px;
    line-height: 28px;
    font-weight: 500;
  }
  .App .contact .container > div .informations div .at {
    font-style: italic;
    margin-bottom: 15px;
  }
  .App .contact .container > div .informations div .address {
    font-size: 18px;
    font-weight: 300;
    margin-top: 15px;
  }
  .App .contact .container > div .informations div .telephone {
    font-size: 18px;
  }
  .App .contact .container > div .informations div .telephone_2 {
    font-size: 18px;
  }
  .App .contact .container > div .informations div .email {
    margin-top: 18px;
    font-size: 18px;
    text-decoration: underline;
  }
  .App .confidentialite, .App .mentions-legales, .App .rgpd {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 30px 0;
  }
  .App .confidentialite .title, .App .mentions-legales .title, .App .rgpd .title {
    font-size: 38px;
    margin-bottom: 30px;
    width: 100%;
    font-weight: 500;
  }
  .App .confidentialite .content, .App .mentions-legales .content, .App .rgpd .content {
    font-size: 16px;
  }
  .App .confidentialite .content a, .App .mentions-legales .content a, .App .rgpd .content a {
    color: #FFF;
  }
  .App footer.footer {
    padding-top: 90px;
  }
  .App footer.footer .container {
    flex-direction: column;
  }
  .App footer.footer .container .logo {
    width: 100%;
    margin-bottom: 30px;
  }
  .App footer.footer .container .logo img {
    max-width: 120px;
  }
  .App footer.footer .container .legal {
    margin-bottom: 30px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
  .App footer.footer .container .legal a {
    margin-bottom: 15px;
    color: #FFF;
  }
  .App footer.footer .container .social-links {
    margin-bottom: 30px;
    width: 100%;
  }
}