#wesh {
    .morray {
        display: none;
    }
}

/* GENERAL */

@-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-duration: 1000ms;
}

.container {
    max-width: 1400px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    background-color: #000;
    padding: 0;
    margin: 0;
}

.loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-height: 250px;
    }
}

/* END GENERAL */

.App {
    background-color: #000;
    color: #F7F7F7;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;

    header {
        display: flex;
        justify-content: center;
        padding-top: 30px;

        .container {
            display: flex;
            justify-content: space-between;

            .logo {
                img {
                    height: 50px;
                    width: auto;
                    justify-content: flex-start;
                }

                #burger {
                    display: none;
                }
            }
    
            .nav {
                width: 66%;
                max-width: 800px;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: space-between;
    
                a {
                    vertical-align: bottom;
                    font-size: 18px;
                    border-bottom: 1px solid transparent;
                    color: #F7F7F7;
                    text-decoration: none;
                    cursor: pointer;
    
                    &:hover {
                        border-bottom: 1px solid #F7F7F7;
                    }
                }
    
            }

        }
    }

    .hero {
        padding: 25vh 0;
        // height: 50vh;
        display: flex;
        justify-content: center;

        .video-container {
            position: absolute;
            top: 150px;
            max-height: 650px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            video {
                width: 100%;
                height: auto;
                filter: blur(10px);
            }
        }

        .container {
            z-index: 9;

            .description {
                font-size: 64px;
                font-weight: 300;
                margin: 0;

                p {
                    margin-top: 0;
                    margin-bottom: 0;
                    font-weight: 200;
                }

                strong {
                    font-weight: 500;
                }

                em {
                    font-weight: 400;
                }
            }

        }
    }

    .manifesto {
        padding: 30px 0;
        // height: 70vh;
        display: flex;
        justify-content: center;

        .container {

            .title {
                font-size: 72px;
                margin-bottom: 90px;
                font-weight: 500;
            }

            .description {
                p {
                    font-size: 32px;
                    // width: 80%;
                    margin: 0;
                    // margin-bottom: 70px;
                    font-weight: 200;
                }

                strong {
                    font-weight: 500;
                }

                em {
                    font-weight: 400;
                }
            }
    
            .signature {
                font-family: 'Painted Brush';
                font-size: 72px;
                margin-bottom: 0;
            }

        }
    }

    #banner {
        padding: 30px 0;
        margin-bottom: 50px;
        height: 450px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
            width: 100%;
            max-width: 1000px;
            height: auto;
        }
    }

    .services {
        display: flex;
        justify-content: center;

        & > .container {
    
            & > .title {
                font-size: 72px;
                margin-bottom: 90px;
                width: 100%;
                font-weight: 500;
            }
    
            & > .description {
                font-size: 32px;
                margin-bottom: 70px;
                font-weight: 200;
    
                p {
                    margin: 0;
                    font-weight: 200;
                }

                strong {
                    font-weight: 500;
                }

                em {
                    font-weight: 400;
                }
            }

        }

        .skills {
            padding: 30px 0;
            // height: 100vh;
            width: 100%;
    
            .skill {
                display: flex;
                margin-bottom: 60px;

                .icon-container {
                    width: 20%;
    
                    img.icon {
                        max-height: 140px;
                        width: auto;
                        // margin-top: 15px;
                    }

                }

                .txt-container {
                    width: 80%;
                    padding-left: 30px;
        
                    h3 {
                        margin-top: 0;
                        margin-bottom: 15px;
                        font-size: 34px;
                        font-weight: 500;
                    }
            
                    .description {
                        padding-left: 0;
                        li {
                            list-style: none;
                            font-size: 18px;
                            font-weight: 200;
                        }

                        p {
                            font-size: 18px;
                            margin: 0;
                            font-weight: 200;
                        }

                        strong {
                            font-weight: 500;
                        }
        
                        em {
                            font-weight: 400;
                        }
                    }

                }
    
            }
        }

    }

    #realisations {
        padding: 90px 0 180px;
        // height: 50vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .container {

            .title {
                font-size: 72px;
                margin-bottom: 90px;
                width: 100%;
                font-weight: 500;
            }
            .items {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                .item {
                    max-height: 450px;
                    max-width: 250px;
    
                    img {
                        height: auto;
                        width: 100%;
                    }
                }
            }

        }
    }

    .playlist {
        width: 100%;
        padding-top: 90px;
        padding-bottom: 90px;
        // height: 75vh;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .container {
            display: flex;
            flex-direction: row;

            div {
                &.txt {
                    width: 66%;
    
                    .title {
                        font-size: 72px;
                        margin-bottom: 90px;
                        margin-top: 0;
                        width: 100%;
                        font-weight: 500;
                    }
        
                    .description {
                        font-size: 26px;
                        width: 80%;
                        font-weight: 200;

                        li {
                            list-style: none;
                            font-size: 20px;
                            font-weight: 200;
                        }

                        p {
                            font-size: 20px;
                            margin: 0;
                            font-weight: 200;
                        }

                        strong {
                            font-weight: 500;
                        }
        
                        em {
                            font-weight: 400;
                        }
                    }
                }
    
                &.lecteur {
                    width: 34%;
                }
            }

        }
    }

    .contact {
        padding-top: 90px;
        padding-bottom: 30px;
        height: 70vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .container {
            display: flex;
            flex-direction: column;

            .title {
                font-size: 72px;
                margin-bottom: 90px;
                width: 100%;
                height: 72px;
                font-weight: 500;
            }

            & > div {
                display: flex;
                flex-direction: row;
    
                .contact-form {
                    width: 50%;
    
                    form {
                        width: 80%;

                        .inputs {
                            width: 100%;
                            margin-bottom: 15px;
                        }
            
                        input, textarea {
                            background-color: transparent;
                            border: 2px solid #F7F7F7;
                            border-radius: 5px;
                            padding: 5px 10px;
                            color: #F7F7F7;
                            font-family: 'Poppins', sans-serif;
            
                            &:focus {
                                outline: none;
                            }
                        }

                        .sujet {
                            width: 100%;
                            margin-bottom: 15px;

                            input {
                                width: 100%;
                            }

                            & > div {
                                width: 100%;
                            }
                        }
            
                        & > div {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
            
                            &.textarea {
                                flex-direction: column;
                                margin-bottom: 15px;
                            }
            
                            & > div {
                                width: calc(50% - 5px);
                                display: flex;
                                flex-direction: column;
                            }
                        }

                        button {
                            width: 100%;
                            padding: 8px;
                            text-transform: uppercase;
                            font-weight: 600;
                            color: #F7F7F7;
                            background-color: #101010;
                            border: 2px solid #F7F7F7;
                            border-radius: 5px;
                            letter-spacing: 1px;

                            &:hover {
                                cursor: pointer;
                                background-color: #F7F7F7;
                                color: #101010;
                            }
                        }
                    }
    
                }
        
                .informations {
                    width: 50%;
                    padding-left: 30px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    font-weight: 200;

                    p {
                        margin: 0;
                    }

                    div {
                        display: flex;
                        flex-direction: column;
        
                        .name_logo {
                            font-size: 28px;
                            line-height: 28px;
                            font-weight: 500;
                        }
                        .at {
                            font-style: italic;
                            margin-top: 15px;
                        }
                        .address {
                            font-size: 18px;
                            font-weight: 300;
                        }
                        .telephone {
                            font-size: 18px;
                        }
                        .telephone_2 {
                            font-size: 18px;
                        }
                        .email {
                            margin-top: 18px;
                            font-size: 18px;
                            text-decoration: underline;
                        }

                    }
                }

            }

        }
    }

}

.confidentialite, .mentions-legales, .rgpd {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 90px 0;

    .title {
        font-size: 72px;
        margin-bottom: 90px;
        width: 100%;
        font-weight: 500;
    }

    .content {
        font-size: 18px;
        a {
            color: #FFF;
        }
    }
}

footer.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .logo {
            width: 10%;
            overflow: hidden;
            img {
                height: auto;
                width: 100%;
            }
        }

        .legal {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            a {
                color: #FFF;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .social-links {
            width: 10%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;

            a {
                img {
                    max-height: 35px;
                }
            }
        }

    }
}

@media screen and (max-width:425px) {

    .App {
        padding-left: 15px;
        padding-right: 15px;

        header {
            display: flex;
            justify-content: center;
            padding-top: 30px;
    
            .container {
                display: flex;
                justify-content: space-between;
                flex-direction: column;
    
                .logo {
                    width: 100%;
                    padding-bottom: 30px;
                    background-color: #000;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    img {
                        height: 50px;
                        width: auto;
                        justify-content: flex-start;
                    }

                    #burger {
                        display: block;
                        width: 30px;
                        height: 25px;
                        position: relative;
                        margin-top: 15px;
                        -webkit-transform: rotate(0deg);
                        -moz-transform: rotate(0deg);
                        -o-transform: rotate(0deg);
                        transform: rotate(0deg);
                        -webkit-transition: .5s ease-in-out;
                        -moz-transition: .5s ease-in-out;
                        -o-transition: .5s ease-in-out;
                        transition: .5s ease-in-out;
                        cursor: pointer;
                        background-color: transparent;
                        border: 0px;

                        span {
                            display: block;
                            position: absolute;
                            height: 3px;
                            width: 100%;
                            background: #f7f7f7;
                            border-radius: 2px;
                            opacity: 1;
                            left: 0;
                            -webkit-transform: rotate(0deg);
                            -moz-transform: rotate(0deg);
                            -o-transform: rotate(0deg);
                            transform: rotate(0deg);
                            -webkit-transition: .25s ease-in-out;
                            -moz-transition: .25s ease-in-out;
                            -o-transition: .25s ease-in-out;
                            transition: .25s ease-in-out;

                            &:nth-child(1) {
                                top: 0px;
                            }
                            
                            &:nth-child(2), &:nth-child(3) {
                                top: 9px;
                            }
                            
                            &:nth-child(4) {
                                top: 18px;
                            }
                        }

                        &.open {
                            
                            span:nth-child(1) {
                                top: 18px;
                                width: 0%;
                                left: 50%;
                            }
                            
                            span:nth-child(2) {
                                -webkit-transform: rotate(45deg);
                                -moz-transform: rotate(45deg);
                                -o-transform: rotate(45deg);
                                transform: rotate(45deg);
                            }
                            
                            span:nth-child(3) {
                                -webkit-transform: rotate(-45deg);
                                -moz-transform: rotate(-45deg);
                                -o-transform: rotate(-45deg);
                                transform: rotate(-45deg);
                            }
                            
                            span:nth-child(4) {
                                top: 18px;
                                width: 0%;
                                left: 50%;
                            }

                        }
                    }
                }
        
                .nav {
                    width: calc(100vw - 30px);
                    max-width: 800px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-around;
                    // transform: translateY(-30px);
                    opacity: 0;
                    transition: 250ms ease-in-out;
                    background-color: #000;
                    z-index: 999;
                    position: absolute;
                    top: 120px;
                    left: 0;
                    padding: 15px;

                    &.open {
                        transform: translateY(0px);
                        opacity: 1;
                    }
        
                    a {
                        // vertical-align: bottom;
                        font-size: 22px;
                        border-bottom: 0px solid transparent;
                        color: #F7F7F7;
                        text-decoration: none;
                        margin-bottom: 15px;
        
                        &:hover {
                            border-bottom: 0px solid #F7F7F7;
                        }
                    }
        
                }
    
            }
        }

        .hero {
            padding: 0;
            height: 50vh;

            .video-container {
                height: 450px;
                max-height: 450px;
                overflow-x: hidden;

                // video {
                //     height: 450px;
                //     width: auto;
                // }
            }
    
            .container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
    
                .description {
                    font-size: 32px;
                }
    
            }
        }

        .manifesto {
            padding: 30px 0;
            height: inherit;
            display: flex;
            justify-content: center;
    
            .container {
    
                .title {
                    font-size: 38px;
                    margin-bottom: 50px;
                }
    
                .description {
                    p {
                        font-size: 16px;
                    }
                }
        
                .signature {
                    font-family: 'Painted Brush';
                    font-size: 42px;
                }
    
            }

        }

        #banner {
            height: inherit;
        }

        .services {
    
            & > .container {
        
                & > .title {
                    font-size: 38px;
                    margin-bottom: 50px;
                }
        
                & > .description {
                    font-size: 16px;
                }
    
            }
    
            .skills {
                padding: 30px 0;
                width: 100%;
        
                .skill {
                    display: flex;
                    margin-bottom: 60px;
    
                    .icon-container {
                        width: 10%;
        
                        img.icon {
                            max-height: 50px;
                            width: auto;
                            // margin-top: 15px;
                        }
    
                    }
    
                    .txt-container {
                        width: 90%;
                        padding-left: 30px;
            
                        h3 {
                            margin-top: 0;
                            margin-bottom: 15px;
                            font-size: 24px;
                            font-weight: 500;
                        }
                
                        .description {
                            padding-left: 0;
                            li {
                                list-style: none;
                                font-size: 14px;
                                font-weight: 200;
                            }
    
                            p {
                                font-size: 14px;
                                margin: 0;
                                font-weight: 200;
                            }
    
                            strong {
                                font-weight: 500;
                            }
            
                            em {
                                font-weight: 400;
                            }
                        }
    
                    }
        
                }
            }
    
        }

        #realisations {
            .container {
                .title {
                    font-size: 38px;
                    font-weight: 500;
                }

                .items {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .item {
                        max-height: 450px;
                        max-width: 250px;
                        margin-bottom: 30px;
        
                        img {
                            height: auto;
                            width: 100%;
                        }
                    }
                }
            }
        }

        .playlist {
            width: 100%;
            padding-top: 30px;
            padding-bottom: 30px;
            height: inherit;
            display: flex;
            flex-direction: row;
            justify-content: center;
    
            .container {
                display: flex;
                flex-direction: column;
    
                div {
                    &.txt {
                        width: 100%;
        
                        .title {
                            font-size: 38px;
                            margin-bottom: 50px;
                            margin-top: 0;
                            width: 100%;
                            font-weight: 500;
                        }
            
                        .description {
                            font-size: 22px;
                            width: 100%;
                            font-weight: 200;
    
                            li {
                                list-style: none;
                                font-size: 16px;
                                font-weight: 200;
                            }
    
                            p {
                                font-size: 16px;
                                margin: 0;
                                font-weight: 200;
                            }
    
                            strong {
                                font-weight: 500;
                            }
            
                            em {
                                font-weight: 400;
                            }
                        }
                    }
        
                    &.lecteur {
                        margin-top: 50px;
                        width: 100%;
                    }
                }
    
            }
        }
        
        .contact {
            padding-top: 30px;
            padding-bottom: 30px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
    
            .container {
                display: flex;
                flex-direction: column;
    
                .title {
                    font-size: 36px;
                    margin-bottom: 50px;
                    width: 100%;
                    height: 72px;
                    font-weight: 500;
                }
    
                & > div {
                    display: flex;
                    flex-direction: column;
        
                    .contact-form {
                        width: 100%;
        
                        form {
                            width: 100%;
    
                            .inputs {
                                width: 100%;
                                margin-bottom: 15px;
                            }
                
                            input, textarea {
                                background-color: transparent;
                                border: 2px solid #F7F7F7;
                                border-radius: 5px;
                                padding: 5px 10px;
                                color: #F7F7F7;
                                font-family: 'Poppins', sans-serif;
                
                                &:focus {
                                    outline: none;
                                }
                            }
    
                            .sujet {
                                width: 100%;
                                margin-bottom: 15px;
    
                                input {
                                    width: 100%;
                                }
                            }
                
                            & > div {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                
                                &.textarea {
                                    flex-direction: column;
                                    margin-bottom: 15px;
                                }
                
                                & > div {
                                    width: calc(50% - 5px);
                                    display: flex;
                                    flex-direction: column;
                                }
                            }
    
                            button {
                                width: 100%;
                                padding: 8px;
                                text-transform: uppercase;
                                font-weight: 600;
                                color: #F7F7F7;
                                background-color: #101010;
                                border: 2px solid #F7F7F7;
                                border-radius: 5px;
                                letter-spacing: 1px;
    
                                &:hover {
                                    cursor: pointer;
                                    background-color: #F7F7F7;
                                    color: #101010;
                                }
                            }
                        }
        
                    }
        
                    .informations {
                        margin-top: 50px;
                        width: 100%;
                        padding-left: 0px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        font-weight: 200;
    
                        p {
                            margin: 0;
                        }
    
                        div {
                            display: flex;
                            flex-direction: column;

                            &:last-of-type {
                                margin-top: 50px;
                            }
            
                            .name_logo {
                                font-size: 28px;
                                line-height: 28px;
                                font-weight: 500;
                            }
                            .at {
                                font-style: italic;
                                margin-bottom: 15px;
                            }
                            .address {
                                font-size: 18px;
                                font-weight: 300;
                                margin-top: 15px;
                            }
                            .telephone {
                                font-size: 18px;
                            }
                            .telephone_2 {
                                font-size: 18px;
                            }
                            .email {
                                margin-top: 18px;
                                font-size: 18px;
                                text-decoration: underline;
                            }
    
                        }
                    }
                }
            }
        }

        .confidentialite, .mentions-legales, .rgpd {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            min-height: 100vh;
            padding: 30px 0;
        
            .title {
                font-size: 38px;
                margin-bottom: 30px;
                width: 100%;
                font-weight: 500;
            }
        
            .content {
                font-size: 16px;
                a {
                    color: #FFF;
                }
            }
        }

        footer.footer {
            padding-top: 90px;
            .container {
                flex-direction: column;
                .logo {
                    width: 100%;
                    margin-bottom: 30px;
                    img {
                        max-width: 120px;
                    }
                }
                .legal {
                    margin-bottom: 30px;
                    width: 100%;
                    flex-direction: column;
                    align-items: flex-start;

                    a {
                        margin-bottom: 15px;
                        color: #FFF;
                    }

                }
                .social-links {
                    margin-bottom: 30px;
                    width: 100%;
                }
            } 
        }
    }
}

