#wesh .morray {
  display: none;
}

/* GENERAL */
.container {
  max-width: 1400px;
  width: 100%;
}

body {
  background-color: #101010;
  padding: 0;
  margin: 0;
}

/* END GENERAL */
.App {
  background-color: #101010;
  color: #F7F7F7;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.App header {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.App header .container {
  display: flex;
  justify-content: space-between;
}
.App header .container .logo {
  height: 50px;
  width: auto;
}
.App header .container .nav {
  width: 66%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.App header .container .nav a {
  vertical-align: bottom;
  font-size: 18px;
  border-bottom: 1px solid transparent;
  color: #F7F7F7;
  text-decoration: none;
}
.App header .container .nav a:hover {
  border-bottom: 1px solid #F7F7F7;
}
.App .hero {
  padding: 25vh 0;
  height: 50vh;
  display: flex;
  justify-content: center;
}
.App .hero .container .description {
  font-size: 64px;
  font-weight: 300;
}
.App .hero .container .description p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 200;
}
.App .hero .container .description strong {
  font-weight: 500;
}
.App .hero .container .description em {
  font-weight: 400;
}
.App .manifesto {
  padding: 30px 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.App .manifesto .container .title {
  font-size: 72px;
  margin-bottom: 90px;
  font-weight: 500;
}
.App .manifesto .container .description p {
  font-size: 24px;
  margin: 0;
  font-weight: 200;
}
.App .manifesto .container .description strong {
  font-weight: 500;
}
.App .manifesto .container .description em {
  font-weight: 400;
}
.App .manifesto .container .signature {
  font-family: "Painted Brush";
  font-size: 72px;
}
.App .services {
  display: flex;
  justify-content: center;
}
.App .services > .container > .title {
  font-size: 72px;
  margin-bottom: 90px;
  width: 100%;
  font-weight: 500;
}
.App .services > .container > .description {
  font-size: 22px;
  margin-bottom: 70px;
  font-weight: 200;
}
.App .services > .container > .description p {
  margin: 0;
  font-weight: 200;
}
.App .services > .container > .description strong {
  font-weight: 500;
}
.App .services > .container > .description em {
  font-weight: 400;
}
.App .services .skills {
  padding: 30px 0;
  height: 100vh;
  width: 100%;
}
.App .services .skills .skill {
  display: flex;
  margin-bottom: 60px;
}
.App .services .skills .skill .icon-container {
  width: 20%;
}
.App .services .skills .skill .icon-container img.icon {
  max-height: 140px;
  width: auto;
}
.App .services .skills .skill .txt-container {
  width: 80%;
  padding-left: 30px;
}
.App .services .skills .skill .txt-container h3 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 34px;
  font-weight: 500;
}
.App .services .skills .skill .txt-container .description {
  padding-left: 0;
}
.App .services .skills .skill .txt-container .description li {
  list-style: none;
  font-size: 18px;
  font-weight: 200;
}
.App .services .skills .skill .txt-container .description p {
  font-size: 18px;
  margin: 0;
  font-weight: 200;
}
.App .services .skills .skill .txt-container .description strong {
  font-weight: 500;
}
.App .services .skills .skill .txt-container .description em {
  font-weight: 400;
}
.App .playlist {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.App .playlist .container {
  display: flex;
  flex-direction: row;
}
.App .playlist .container div.txt {
  width: 66%;
}
.App .playlist .container div.txt .title {
  font-size: 72px;
  margin-bottom: 90px;
  margin-top: 0;
  width: 100%;
  font-weight: 500;
}
.App .playlist .container div.txt .description {
  font-size: 22px;
  width: 80%;
  font-weight: 200;
}
.App .playlist .container div.txt .description li {
  list-style: none;
  font-size: 20px;
  font-weight: 200;
}
.App .playlist .container div.txt .description p {
  font-size: 20px;
  margin: 0;
  font-weight: 200;
}
.App .playlist .container div.txt .description strong {
  font-weight: 500;
}
.App .playlist .container div.txt .description em {
  font-weight: 400;
}
.App .playlist .container div.lecteur {
  width: 34%;
}
.App .contact {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.App .contact .container {
  display: flex;
  flex-direction: column;
}
.App .contact .container .title {
  font-size: 72px;
  margin-bottom: 90px;
  width: 100%;
  height: 72px;
  font-weight: 500;
}
.App .contact .container > div {
  display: flex;
  flex-direction: row;
}
.App .contact .container > div .contact-form {
  width: 50%;
}
.App .contact .container > div .contact-form form {
  width: 80%;
}
.App .contact .container > div .contact-form form .inputs {
  width: 100%;
  margin-bottom: 15px;
}
.App .contact .container > div .contact-form form input, .App .contact .container > div .contact-form form textarea {
  background-color: transparent;
  border: 2px solid #F7F7F7;
  border-radius: 5px;
  padding: 5px 10px;
  color: #F7F7F7;
  font-family: "Poppins", sans-serif;
}
.App .contact .container > div .contact-form form input:focus, .App .contact .container > div .contact-form form textarea:focus {
  outline: none;
}
.App .contact .container > div .contact-form form .sujet {
  width: 100%;
  margin-bottom: 15px;
}
.App .contact .container > div .contact-form form .sujet input {
  width: 100%;
}
.App .contact .container > div .contact-form form > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.App .contact .container > div .contact-form form > div.textarea {
  flex-direction: column;
  margin-bottom: 15px;
}
.App .contact .container > div .contact-form form > div > div {
  width: calc(50% - 5px);
  display: flex;
  flex-direction: column;
}
.App .contact .container > div .contact-form form button {
  width: 100%;
  padding: 8px;
  text-transform: uppercase;
  font-weight: 600;
  color: #F7F7F7;
  background-color: #101010;
  border: 2px solid #F7F7F7;
  border-radius: 5px;
  letter-spacing: 1px;
}
.App .contact .container > div .contact-form form button:hover {
  cursor: pointer;
  background-color: #F7F7F7;
  color: #101010;
}
.App .contact .container > div .informations {
  width: 50%;
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 200;
}
.App .contact .container > div .informations p {
  margin: 0;
}
.App .contact .container > div .informations div {
  display: flex;
  flex-direction: column;
}
.App .contact .container > div .informations div .name_logo {
  font-size: 28px;
  line-height: 28px;
  font-weight: 500;
}
.App .contact .container > div .informations div .at {
  font-style: italic;
  margin-bottom: 15px;
}
.App .contact .container > div .informations div .address {
  font-size: 18px;
  font-weight: 300;
}
.App .contact .container > div .informations div .telephone {
  font-size: 18px;
}
.App .contact .container > div .informations div .telephone_2 {
  font-size: 18px;
}
.App .contact .container > div .informations div .email {
  margin-top: 18px;
  font-size: 18px;
  text-decoration: underline;
}

footer.footer {
  padding-top: 30px;
  padding-bottom: 30px;
}
footer.footer > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer.footer > .container > div img.footer-logo {
  height: 50px;
  width: auto;
}
footer.footer > .container nav .footer-column .title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}
footer.footer > .container nav .footer-column ul li {
  margin-bottom: 15px;
}
footer.footer > .container .reseaux-sociaux .title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}
footer.footer > .container .reseaux-sociaux ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer.footer > .container .reseaux-sociaux ul li img {
  height: 20px;
  width: auto;
}
footer.footer .copyright {
  width: 100%;
}
footer.footer .copyright .container {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}
footer.footer .copyright .container p {
  font-size: 14px;
  font-weight: 300;
}

@media screen and (max-width: 425px) {
  .App {
    padding-left: 15px;
    padding-right: 15px;
  }
  .App .hero {
    padding: 20vh 0 10vh;
  }
  .App .hero .container .description {
    font-size: 32px;
  }
  .App .manifesto {
    padding: 30px 0;
    height: inherit;
    display: flex;
    justify-content: center;
  }
  .App .manifesto .container .title {
    font-size: 38px;
  }
  .App .manifesto .container .description p {
    font-size: 18px;
  }
  .App .manifesto .container .signature {
    font-family: "Painted Brush";
    font-size: 42px;
  }
  .App .services > .container > .title {
    font-size: 38px;
  }
  .App .services > .container > .description {
    font-size: 18px;
  }
  .App .services .skills {
    padding: 30px 0;
    height: 100vh;
    width: 100%;
  }
  .App .services .skills .skill {
    display: flex;
    margin-bottom: 60px;
  }
  .App .services .skills .skill .icon-container {
    width: 20%;
  }
  .App .services .skills .skill .icon-container img.icon {
    max-height: 140px;
    width: auto;
  }
  .App .services .skills .skill .txt-container {
    width: 80%;
    padding-left: 30px;
  }
  .App .services .skills .skill .txt-container h3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 34px;
    font-weight: 500;
  }
  .App .services .skills .skill .txt-container .description {
    padding-left: 0;
  }
  .App .services .skills .skill .txt-container .description li {
    list-style: none;
    font-size: 18px;
    font-weight: 200;
  }
  .App .services .skills .skill .txt-container .description p {
    font-size: 18px;
    margin: 0;
    font-weight: 200;
  }
  .App .services .skills .skill .txt-container .description strong {
    font-weight: 500;
  }
  .App .services .skills .skill .txt-container .description em {
    font-weight: 400;
  }
}